.TableOfContents{
  display: block;
  width: 40%;
  margin: 15px auto;
  color: #EEE;
}
.TableOfContents ol{
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.TableOfContents li{
  position: relative;
  width: 100%;
  text-align: center;
  padding: 12px 10px;
  border: 1px solid #000;
  border-bottom-width: 2px;
  font-size: 1.8rem;
  font-weight: bold;
  background: linear-gradient(90deg, #008D3B 30%, #01ba4e 60%);
  border: 1px solid #000;
  border-right: none;
  border-bottom: none;
  box-shadow:
    1px 1px 0 #006028,
    2px 2px 0 #006028,
    3px 3px 0 #006028,
    4px 4px 0 #006028,
    5px 5px 0 #006028,
    6px 6px 0 #006028,
    7px 7px 0 #006028,
    8px 8px 0 #005121,
    9px 9px 0 #005121,
    10px 10px 8px rgba(0,0,0,0.8);
}
.TableOfContents li:not(:last-child){
  margin-bottom: 4%;
}
.TableOfContents li:before{
  position: absolute;
  top: -1px;
  left: -10%;
  width: 10%;
  height: 100%;
  content: '';
  background: #008236;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-right: none;
  z-index: -1;
  border: 1px solid #000;
  border-right: none;
  border-bottom: none;
  box-shadow:
    1px 1px 0 #006028,
    2px 2px 0 #006028,
    3px 3px 0 #006028,
    4px 4px 0 #006028,
    5px 5px 0 #006028,
    6px 6px 0 #006028,
    7px 7px 0 #006028,
    8px 8px 0 #005121,
    9px 9px 0 #005121,
    10px 10px 8px rgba(0,0,0,0.8);
}
